# Python Geçici Dosyaları
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
.venv/
venv/
env/
ENV/

# Database
db.sqlite3

# Django Media & Static
media/
staticfiles/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db